<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <meta name="author" content="Janna Lu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Janna Lu professional website">
    <title>janna lu</title>

</head>
<body id ="background">

    <header>
        <h1 id ="webname">&nbsp;janna lu</h1>
        <nav id = "nav-background" class = "nav">
            <a href= "../index.html">about</a>
            <a href= "contact.html">contact</a>
            <a href= "cv.html">resume</a>
            <a href= "fun.html">fun</a>

        </nav>
    </header>
    
    <div class="main">
        <h2>contact me</h2>
        <form>
            <label for="name">your name (required):</label>
            <input type ="text" id="name" name="name" required><br>
        <br>
            <label for = "email">email:</label>
            <input type="text" id="email" name="email"><br>
        <br>
            <label for = "com">comment:</label>
            <textarea id="comBox" name="com" rows="6" cols="50"></textarea><br>
        <br>
           
            <button type = "send">send</button>
            
        </form>

        <table>
            <tr>
                <th>email</th>
                <th>phone</th>
                <th>linkedin</th>
            </tr>
            <tr>
                <td>jannaanl@andrew.cmu.edu</td>
                <td>(310)-904-9925</td>
                <td>
                    <a href= "https://www.linkedin.com/in/janna-lu-498722263/" target="_blank">linkedin</a>
                </td>

            </tr>
        </table>

    </div>

    <footer>
        <p>©2025 designed and coded by janna lu👩🏻‍💻</p>

    </footer>
</body>
</html>