<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <meta name="author" content="Janna Lu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Janna Lu professional website">
    <title>janna lu</title>

</head>
<body style="font-family: Arial; background-color: lightyellow">

    <header>
        <h1 style="color:purple; background:lightblue; padding: 8px" >&nbsp;janna lu</h1>
        <nav style ="background :lightpink; padding :10px">
            <a href= "../index.html">home</a>
            <a href= "cv.html">cv</a>
            <a href= "contact.html">contact me</a>
            <a href= "fun.html">for fun</a>

        </nav>
    </header>
    
    <div class="main">
        <h2 style="color: purple;font-weight:bold">contact me</h2>
        <form>
            <label for="name">your name (required):</label>
            <input type ="text" id="name" name="name" required><br>
        <br>
            <label for = "email">email:</label>
            <input type="text" id="email" name="email"><br>
        <br>
            <label for = "com">comment:</label>
            <textarea id="comBox" name="com" rows="6" cols="50"></textarea><br>
        <br>
           
            <input type="submit" value="Submit">
            
        </form>

        <table>
            <tr>
                <th>email</th>
                <th>phone</th>
                <th>linkedin</th>
            </tr>
            <tr>
                <td>jannaanl@andrew.cmu.edu</td>
                <td>(310)-904-9925</td>
                <td>
                    <a href= "https://www.linkedin.com/in/janna-lu-498722263/" target="_blank">linkedin</a>
                </td>

            </tr>
        </table>

    </div>

    <footer>
        <p>©2025 designed and coded by janna lu👩🏻‍💻</p>

    </footer>
</body>
</html>
