<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">

    <script defer src="../static/script.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <meta name="author" content="Janna Lu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Janna Lu professional website">
    <title>janna lu</title>

</head>
<body id ="background" onload = "addYear()">

    <header>
        <h1 id ="webname">&nbsp;janna lu</h1>
        <nav id = "nav-background" class = "nav">
            <a href= "../index.html">about</a>
            <a href= "contact.html">contact</a>
            <a href= "cv.html">resume</a>
            <a href= "fun.html">fun</a>

        </nav>
    </header>
    
    <div class="main">
        <h2>curriculum vitae</h2>

        <table>
            <tr>
                <th>education</th>
                <th>description</th>
            </tr>
            <tr>
                
                <td>CARNEGIE MELLON UNIVERSITY</td>
                <td> bachelor of science in information systems; aug 2024 - may 2028</td> 
              
            </tr>

            <tr>
                <td>CALIF. ACAD. OF MATH AND SCIENCE</td>
                <td> carson, ca ; aug 2020 - may 2024</td> 
            </tr>

            <tr>
                <td> CMU Women in IS</td>
                <td> pittsburgh, pa ; aug 2024 - present</td> 
            </tr>

            <tr>
                <td> CMU Swim and Dive</td>
                <td> womens varsity ; aug 2024 - present</td> 

            </tr>

            
        </table>


        <a href= "../static/resume.pdf" target="_blank">my resume (pdf)</a>

    </div>

    <footer>
        <p style="display: inline;">designed and coded by janna lu👩🏻‍💻</p>
        <p id="copyYear" style="display: inline;"></p>
    </footer>
</body>
</html>