<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <meta name="author" content="Janna Lu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Janna Lu professional website">
    <title>janna lu</title>

</head>
<body style="font-family: Arial; background-color: lightyellow">

    <header>
        <h1 style="color:purple; background:lightblue; padding: 8px" >&nbsp;janna lu</h1>
        <nav style ="background :lightpink; padding :10px">
            <a href= "../index.html">home</a>
            <a href= "cv.html">cv</a>
            <a href= "contact.html">contact me</a>
            <a href= "fun.html">for fun</a>

        </nav>
    </header>
    
    <div class="main">
        <h2 style="color: purple;font-weight:bold">things i love to do for fun</h2>
        <ul>
            <li>swimming</li>
            <li>watch movies</li>
            <li>hanging out with friends</li>
            <li>going to restaurants</li>
            <li>exploring pittsburgh</li>

        </ul>

    </div>

    <footer>
        <p>©2025 designed and coded by janna lu👩🏻‍💻</p>

    </footer>
</body>
</html>